.sidebar {
  background-color: #F6F6FF;
  padding: 0 5em;
  position: relative;

  &--header {
    height: 84px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #bccde7;
  }

  &--logo {
    font-size: 2.2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    margin: 0 auto;
  }

  .button {
    margin: 3em auto 2em;
    font-size: 1.4rem;
    padding: .8em 0;
    width: 100%;
  }

  &--navlink {
    font-size: 1.4rem;
    font-weight: 600;
    color: #7397CE;
    text-decoration: none;
    display: block;
    margin: 1.8em 0;
    transition: all .3s;

    &:hover {
      color: #7189b8;
      svg {
        fill: #7189b8;
      }
    }

    &.active {
      color: #0057FF;
      svg {
        fill: #0057FF;
      }
    }

    .twotone-icon {
      vertical-align: middle;
      margin-right: 1em;
    }
  }

  &--links {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    text-align: center;

    a, span {
      cursor: pointer;
      font-size: 1.3rem;
      color: #7397CE;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      margin: 0 1em;

      &:hover {
        color: #7189b8;
        text-decoration: underline;
      }
    }
  }
}
