// Body
$body-bg: #FFFFFF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');


html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background-color: $body-bg;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 5em 0;
  background-color: #ffffff;
}

.heading {
  padding: 3em 0 2em;
  border-bottom: 1px solid #bccde7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .button {
    margin: 0;
  }

  .title {
    font-size: 2.2em;
    color: #323232;
    font-weight: 700;
    margin: 0;

    .twotone-icon {
      vertical-align: middle;
      margin-top: -6px;
      margin-right: .4em;
      svg {
        fill: #0057FF;
      }
    }
  }
}
