.markups {
  //text-align: center;

  &--container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  &--message {
    font-size: 2em;
    text-align: center;
    margin-top: 4em;
  }

  &--controls {
    text-align: center;
  }
}
