.dashboard-header {
  height: 84px;
  border-bottom: 1px solid #bccde7;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--title {
    font-size: 2.2em;
    margin: 0;
    display: flex;

    .twotone-icon {
      margin-right: .5em;
      svg {
        fill: #0057FF;
      }
    }
  }

  .button {
    margin: 0;
  }
}
