.not-found {
  text-align: center;
  margin-top: 5em;

  &--h1 {
    font-size: 10em;
  }

  &--h3 {
    font-size: 4em;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-size: 2em;
  }
}
