.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: .8em 3em;
  margin: 2em 0;
  background-color: rgb(0, 87, 255);
  border: none;
  color: #ffffff;
  line-height: 1;
  font-size: 1.6rem;
  border-radius: 3.2rem;
  box-shadow: 0 4px 32px 0 rgba(0, 87, 255, 1);
  transition: all .3s;
  font-weight: 600;
  max-width: 100%;

  &:hover {
    background-color: rgb(0, 107, 255);
    box-shadow: 0 4px 32px 0 rgba(0, 107, 255, 1);
  }

  &.disabled {
    box-shadow: none;
    background-color: #f6f6fe;
    color: #7189b8;
    cursor: auto;
  }

}
