.sign-in {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0, .8);

  &__bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    color: rgba(255, 255, 255, .95);
    font-size: 3.6rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 1.5em 0;
  }

  &__form {
    width: 250px;
    text-align: center;

    input {
      font-size: 1.4rem;
      width: 100%;
      display: inline-block;
      margin: 0 0 2em 0;
      padding: .5em 0;
      outline: none;
      border: none;
      border-bottom: 2px solid #ffffff;
      color: #ffffff;
      font-weight: 600;
      background: transparent;
      transition: opacity .3s;
      opacity: .75;
      font-family: 'Open Sans', sans-serif;

      &:-webkit-autofill {
        background-color: transparent !important;
        color: #ffffff !important;
      }

      &::placeholder {
        color: #ffffff;
        font-weight: 600;
      }

      &:focus {
        opacity: 1;
      }
    }
  }
}
