.datasets-select {
  margin-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;

  a {
    color: #000000;

    &:hover {
      .dataset-item {
        transform: scale(1.1);
      }
    }
  }
}
