.users {
  margin-top: 5em;

  &--table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;

    thead {
      th {
        text-align: left;
        font-size: 1.4rem;
        padding-bottom: 1.5em;
      }
    }

    tbody {
      tr {
        transition: all .2s;

        &:hover {
          background-color: #F6F6FF;
        }

        &.user-blocked {
          opacity: .5;
          >.users--block {
            .twotone-icon {
              svg {
                fill: #d0272a;
              }
            }
          }
        }
      }
      td {
        font-size: 1.2rem;
        padding: .8em .5em;
      }
    }
  }

  &--name {
    .twotone-icon {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  &--block {
    .twotone-icon {
      cursor: pointer;
    }
  }
}
