.navbar {
  height: 70px;
  background-color: #F6F6FF;
  //overflow: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  //margin-bottom: 3em;
  padding: 1em 2em;

  &__logo {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
  }

  &--link {
    display: inline-block;
    color: #7189b8;
    transition: color .3s;
    margin-right: 2em;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: #5e7299;
    }
  }

  &__user {
    cursor: pointer;
    margin: 0;
    font-weight: 600;
  }

  &__signup {
    border: 2px solid #7189b8;
    color: #7189b8;
    text-decoration: none;
    font-weight: 600;
    padding: .7em 1.8em;
    border-radius: 2.5em;
    transition: all .3s;

    &:hover {
      background-color: #5e7299;
      border-color: #5e7299;
      color: #ffffff;
    }
  }
}
