.dataset-item {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px 3px #F6F6FF;
  transition: all .3s;

  &--body {
    padding: 2em;
    text-align: center;
  }

  &--title {
    margin: .5em auto 1.2em;
    font-size: 1.6rem;
    font-weight: 600;
  }

  &--folder {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 auto .8em;
    padding: .8em 2em;
    border-radius: 5px;
    background-color: #F6F6FF;
  }
}
